<%- include ('../../../partials/header.ejs') %>
<%- include ('../../../partials/navbar.ejs') %>

<br>
<br>



<div class="container " >
    <br>
    <h4 > Escolha um mês </h4>
    <hr>
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> <a href="/usuario/janeiro">Janeiro</a>
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> <a href="/usuario/fevereiro">Fevereiro</a>
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off"> <a href="/usuario/marco"> Março</a>
                </label>
              </div>
        </div>
        <a style="position:fixed; top: 8%; left: 93%;" id="menu" class="navbar-brand " href="/usuario/menu">
            <img src="/img/menu.png" alt="menu" width=75 height=80>
           </a>    
    </div>
    
  <br>
    <h4 > Escolha um dia </h4>

    <hr>
    <div class="container">
        <div class="card">
        <div class="card-header">
        <h2> Janeiro </h2>
        </div>
        </div>
    </div><br>
    <table  class="table table-bordered">
        <thead >
           
            <tr > 
                <th>Do</th>
                <th>Se</th>             
                <th>Te</th>
                <th>Qu</th>
                <th>Qu</th>
                <th>Se</th>
                <th>Sá</th>

            </tr>
        </thead>
        <tbody>
                <tr> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/usuario/horas/agender/1/1">1</a></td>
                    <td><a href="/usuario/horas/agender/1/2">2</a></td>
                </tr> 
        </tbody>
        <tbody>
            <tr> 
                <td>3</td>
                <td><a href="/usuario/horas/agender/1/4">4</a></td>
                <td><a href="/usuario/horas/agender/1/5">5</a></td>
                <td><a href="/usuario/horas/agender/1/6">6</a></td>
                <td><a href="/usuario/horas/agender/1/7">7</a></td>
                <td><a href="/usuario/horas/agender/1/8">8</a></td>
                <td><a href="/usuario/horas/agender/1/9">9</a></td>
            </tr> 
    </tbody>
    <tbody>
        <tr> 
            <td>10</td>
            <td><a href="/usuario/horas/agender/1/11">11</a></td>
            <td><a href="/usuario/horas/agender/1/12">12</a></td>
            <td><a href="/usuario/horas/agender/1/13">13</a></td>
            <td><a href="/usuario/horas/agender/1/14">14</a></td>
            <td><a href="/usuario/horas/agender/1/15">15</a></td>
            <td><a href="/usuario/horas/agender/1/16">16</a></td>
        </tr> 
</tbody>
<tbody>
    <tr> 
        <td>17</td>
        <td><a href="/usuario/horas/agender/1/18">18</a></td>
        <td><a href="/usuario/horas/agender/1/19">19</a></td>
        <td><a href="/usuario/horas/agender/1/20">20</a></td>
        <td><a href="/usuario/horas/agender/1/21">21</a></td>
        <td><a href="/usuario/horas/agender/1/22">22</a></td>
        <td><a href="/usuario/horas/agender/1/23">23</a></td>
    </tr> 
</tbody>
<tbody>
    <tr> 
        <td>24</td>
        <td><a href="/usuario/horas/agender/1/25">25</a></td>
        <td><a href="/usuario/horas/agender/1/26">26</a></td>
        <td><a href="/usuario/horas/agender/1/27">27</a></td>
        <td><a href="/usuario/horas/agender/1/28">28</a></td>
        <td><a href="/usuario/horas/agender/1/29">29</a></td>
        <td><a href="/usuario/horas/agender/1/30">30</a></td>
    </tr> 
</tbody>
<tbody>
    <tr> 
        <td>31</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
</tbody>

        
    </table>

    

</div>

<%- include ('../../../partials/footer.ejs') %>