<%- include ('../../../partials/header.ejs') %>
<%- include ('../../../partials/navbar.ejs') %>

<br>
<br>
<div class="container">
    <br>
    <h4> Escolha um mês </h4>
    <hr>
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" > <a href="/usuario/janeiro">Janeiro</a>
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> <a href="/usuario/fevereiro">Fevereiro</a>
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off" checked> <a href="/usuario/marco"> Março</a>
                </label>
              </div>
        </div>
        <a style="position:fixed; top: 8%; left: 93%;" id="menu" class="navbar-brand " href="/usuario/menu">
            <img src="/img/menu.png" alt="menu" width=75 height=80>
           </a>    
    </div>
    
  <br>
  <h4> Escolha um dia </h4>


    <hr>
    <div class="container">
        <div class="card">
        <div class="card-header">
        <h2> Março </h2>
        </div>
        </div>
    </div><br>
    <table class="table table-bordered">
        <thead >
           
            <tr > 
                <th>Do</th>
                <th>Se</th>             
                <th>Te</th>
                <th>Qu</th>
                <th>Qu</th>
                <th>Se</th>
                <th>Sá</th>

            </tr>
        </thead>
        <tbody>
                <tr> 
                    <td></td>
                    <td><a href="/usuario/horas/agender/3/1">1</a></td>
                    <td><a href="/usuario/horas/agender/3/2">2</a></td>
                    <td><a href="/usuario/horas/agender/3/3">3</a></td>
                    <td><a href="/usuario/horas/agender/3/4">4</a></td>
                    <td><a href="/usuario/horas/agender/3/5">5</a></td>
                    <td><a href="/usuario/horas/agender/3/6">6</a></td>
                </tr> 
        </tbody>
        <tbody>
            <tr> 
                <td>7</td>
                <td><a href="/usuario/horas/agender/3/8">8</a></td>
                <td><a href="/usuario/horas/agender/3/9">9</a></td>
                <td><a href="/usuario/horas/agender/3/10">10</a></td>
                <td><a href="/usuario/horas/agender/3/11">11</a></td>
                <td><a href="/usuario/horas/agender/3/12">12</a></td>
                <td><a href="/usuario/horas/agender/3/13">13</a></td>
            </tr> 
    </tbody>
    <tbody>
        <tr> 
            <td>14</td>
            <td><a href="/usuario/horas/agender/3/15">15</a></td>
            <td><a href="/usuario/horas/agender/3/16">16</a></td>
            <td><a href="/usuario/horas/agender/3/17">17</a></td>
            <td><a href="/usuario/horas/agender/3/18">18</a></td>
            <td><a href="/usuario/horas/agender/3/19">19</a></td>
            <td><a href="/usuario/horas/agender/3/20">20</a></td>
        </tr> 
</tbody>
<tbody>
    <tr> 
        <td>21</td>
        <td><a href="/usuario/horas/agender/3/22">22</a></td>
        <td><a href="/usuario/horas/agender/3/23">23</a></td>
        <td><a href="/usuario/horas/agender/3/24">24</a></td>
        <td><a href="/usuario/horas/agender/3/25">25</a></td>
        <td><a href="/usuario/horas/agender/3/26">26</a></td>
        <td><a href="/usuario/horas/agender/3/27">27</a></td>
    </tr> 
</tbody>
<tbody>
    <tr> 
        <td>28</td>
        <td><a href="/usuario/horas/agender/3/29">29</a></td>
        <td><a href="/usuario/horas/agender/3/30">30</a></td>
        <td><a href="/usuario/horas/agender/3/31">31</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
</tbody>


        
    </table>

    

</div>

<%- include ('../../../partials/footer.ejs') %>