<nav  class="navbar navbar-expand-lg  fixed-top navbar-dark bg-faded" style="background-color:black">
   
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    

        <ul class="navbar-nav mr-auto" >
         <li class="nav-item">
              <a  class="nav-link " href="/"> Inicio</a>
         </li>
        
        
        </ul>
        
        <ul class="navbar-nav ml-auto">  
      

        
              


          

         
           

        </ul>

        <a style="position:fixed; top: -2%; left: 1%;" id="barbearia" class="navbar-brand " href="/">
         <img src="/img/logo.png" alt="logo" width=100 height=100>
        </a>     
</nav>